// 主题色配置
$--red: #f56c6c;
$--yellow: #fbbd08;
$--blue: #409eff;
$--green: #67c23a;
$--orange: #f37b1d;
$--cyan: #1cbbb4;
$--pink: #e03997;
$--purple: #6739b6;
$--brown: #a5673f;
$--gray: #909399;
$--black: #303133;
$--white: #ffffff;

.text-red {
  color: $--red;
}
.bg-red {
  background-color: $--red;
}
.text-yellow {
  color: $--yellow;
}
.bg-yellow {
  background-color: $--yellow;
}
.text-blue {
  color: $--blue;
}
.bg-blue {
  background-color: $--blue;
}
.text-green {
  color: $--green;
}
.bg-green {
  background-color: $--green;
}
.text-orange {
  color: $--orange;
}
.bg-orange {
  background-color: $--orange;
}
.text-cyan {
  color: $--cyan;
}
.bg-cyan {
  background-color: $--cyan;
}
.text-pink {
  color: $--pink;
}
.bg-pink {
  background-color: $--pink;
}
.text-purple {
  color: $--purple;
}
.bg-purple {
  background-color: $--purple;
}
.text-brown {
  color: $--brown;
}
.bg-brown {
  background-color: $--brown;
}
.text-gray {
  color: $--gray;
}
.bg-gray {
  background-color: $--gray;
}
.text-black {
  color: $--black;
}
.bg-black {
  background-color: $--black;
}
.text-white {
  color: $--white;
}
.bg-white {
  background-color: $--white;
}
